<div class="details">
    <h2><%= @product.brand %> <%= @product.name %></h2>
   
    <span class="price"><%= number_to_currency @product.price %></span>
    
    <form class="variants clearfix">
        
        <div class="select clearfix">
          <label>Size</label>
          
        </div select>
        <div class="purchase clearfix">
          <span>
          <%= button_to "Add to Cart", line_items_path(:product_id => @product.id) %>
          </span>
        </div><!-- /.purchase -->
    </form>
    
    <div class="description">
      <p><%= @product.description %></p>
      <p>All items are shipped same day. Free next day air.</p>
    </div><!-- /.description -->
</div><!-- /.details -->