<div class="details">
    <h2><%= @product.brand %> <%= @product.name %></h2>
   
    <span class="price"><%= number_to_currency @product.price %></span>
    
        
    <div class="select clearfix">
      <label>Size</label>
      
    </div select>
    <div class="purchase clearfix">
      <span>
      <%= button_to("Add to Cart", {:controller => "line_items", :action => "create", :product_id => @product.id, :shop_id => params[:shop_id]}) %>
      </span>
    </div><!-- /.purchase -->
    
    <div class="description">
      <p><%= @product.description %></p>
      <p>All items are shipped same day. Free next day air.</p>
    </div><!-- /.description -->
</div><!-- /.details -->