<div class="footer clearfix">
      <div class="block">
        <h4>Mini Menu</h4>
          <ul>
            <li><%= link_to 'Home', %></li>
            <li><%= link_to 'Shop' %></li>
            <li><%= link_to 'Blog' %></li>
            <li><%= link_to 'About Us' %></li>
          </ul>
      </div>
     
      <div class="block">
        <h4>Check us out!</h4>
          <ul>
            <li><%= link_to 'Twitter', %></li>
            <li><%= link_to 'Facebook' %></li>
            <li><%= link_to 'Design by RBS' %></li>
            <li><%= link_to 'Development by Rob' %></li>
          </ul> 
      </div>
      
      <div class="block">
        <h4>Want Some More?</h4>
          <ul>
            <li><%= link_to 'Legal Shit', %></li>
            <li><%= link_to 'Return Policy' %></li>
            <li><%= link_to 'Shipping Info' %></li>
            <li><%= link_to 'Get in touch!' %></li>
          </ul>
      </div>
      
      <div class="block last">
        <h4>Search</h4>
          <ul>
          </ul>
      </div>
    </div footer>