<div class="body clearfix">
  <div id="sub_navigation"><h4>
<ul id="links">
       
        <li><a><%= link_to 'All Products' %></a></li>
        <li><a><%= link_to 'Denim' %></a></li>
        <li><a><%= link_to 'Shirts' %></a></li>
        <li><a><%= link_to 'Jewelry' %></a></li>
        <li><a><%= link_to 'Hats' %></a></li>
      
 </ul></h4>
</div>