<div class= "header clearfix">
  <div class="fl" style="width:320px; padding:none;">
    <div class="logo">
      <%= link_to (image_tag 'Swaglogo.jpg')%>
    </div> <!--/.logo -->
  </div> <!--/.fl -->
  
  <div id="main_navigation"><h3>
    <!-- START LINKS -->
      <ul id="links">
        
                  <li><%= link_to "Shop"%></li>
                  <li><a href>Blog</a></li>
                  <% if session[:user_id].present? %>
                    <li><%= link_to "Sign_out", logout_url %></li>
                  <% else %>
                    <li><%= link_to 'Sign Up', new_user_url %></li>
                    <li><%= link_to 'Sign In', new_session_url %></li>
                  <% end %>
              </ul links></h3>
              
  </div><!--/.main_navigation-->
  
  <div id="cart">
    <div class="box">
      <div class="fl">
          <span class="value"><h3><%= link_to "Cart", line_items_path %></h3></span>
      </div>
    
    </div><!-- /.box -->
  </div><!-- /.cart -->

</div><!---/.header --->