<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Economica:700|Lobster|Yanone+Kaffeesatz|Terminal+Dosis:700|Open+Sans:300' rel='stylesheet' type='text/css'>
    <title>ShopifyApp</title>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
</head>
  
<body id="top">
  <div class="wrapper">
          
      <%= render 'shared/title' %>
      <%= render "shared/subnav" %>
      <%= yield %>
    
<footer><%= render "shared/footer" %></footer>
    
  </div><!-- /.wrapper -->
  
</body>
</html>